.header
{
    background-color: #1D88E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;

    &_search
    {
        position: relative;

        input
        {
            border: none;
            width: 200px;
            padding: 3px 30px 3px 15px;
            font-size: 14px;
            outline: none;
        }

        img
        {
            width: 13px;
            position: absolute;
            right: 8px;
            top: 6px;
        }
    }

    &_right
    {
        display: flex;
        align-items: center;
    }

    &_user
    {
        display: flex;
        align-items: center;
        margin-left: 100px;
    }

    &_userimg
    {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 100px;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_username
    {
        font-size: 12px;
        color: black;
        margin-right: 10px;
    }
}