.header
{
    background-color: #1D88E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;

    &_search
    {
        position: relative;

        input
        {
            border: none;
            width: 200px;
            padding: 3px 30px 3px 15px;
            font-size: 14px;
            outline: none;
        }

        img
        {
            width: 13px;
            position: absolute;
            right: 8px;
            top: 6px;
        }
    }

    &_right
    {
        display: flex;
        align-items: center;
    }

    &_user
    {
        display: flex;
        align-items: center;
        margin-left: 100px;
    }

    &_userimg
    {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 100px;
        cursor: pointer;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_username
    {
        font-size: 12px;
        color: black;
        margin-right: 10px;
    }

    &_logout
    {
        position: absolute;
        right: 0;
        background: white;
        top: 45px;
        width: 100px;
        text-align: center;
        padding: 12px 20px;
        z-index: 1;
        border-radius: 5px;

        a
        {
            color: black;
            text-decoration: none;
            font-weight: 600;
        }
    }
}

.headerm
{
    display: none;
}

@media (max-width: 991px)
{
    .header
    {
        display: none;
    }

    .headerm
    {
        background-color: #1D88E5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        position: relative;

        &_user
        {
            text-align: center;
            color: black;
            position: relative;
        }

        img
        {
            width: 40px;
        }

        &_right
        {
            i
            {
                font-size: 28px;
                color: white;
            }
        }

        input
        {
            position: absolute;
            left: 60px;
            height: 40px;
            width: 250px;
            border: none;
            padding: 0 15px;
            background-color: $bg-dark;
            outline: none;
            color: #818d9a;
        }

        &_logout
        {
            position: absolute;
            right: 0;
            background: white;
            top: 45px;
            width: 100px;
            text-align: center;
            padding: 12px 20px;
            z-index: 1;
            border-radius: 5px;

            a
            {
                color: black;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}