.info {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &_inner {
        width: 360px;
        background-color: $bg-dark;
        padding: 60px 15px;
        overflow: auto;
        max-height: 95vh;
        position: relative;
        text-align: center;
    }

    &_btns {
        margin-top: 30px;
    }

    button {
        background-color: $bg-light;
        border: none;
        font-size: 10px;
        padding: 5px 15px;
        color: #999999;
        margin: 0 5px;
    }

    button:hover {
        background-color: $yellow;
        color: $bg-dark;
    }

    &_close {
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
        font-weight: 600;
    }

    &_close:hover {
        color: $yellow;
    }
}