.per
{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &_inner
    {
        width: 500px;
        background-color: $bg-dark;
        padding: 25px;
        overflow: auto;
        max-height: 95vh;
        position: relative;
    }

    &_top
    {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        position: relative;
    }

    &_image
    {
        margin-right: 15px;

        img
        {
            width: 40px;
        }
    }

    &_role
    {
        font-size: 10px;
        margin-top: -2px;
        color: $bg-light;
    }

    &_email, &_phone
    {
        color: $bg-light;

        span
        {
            color: $primary;
            margin-left: 5px;
        }
    }

    &_roles
    {
        margin-top: 30px;

        input
        {
            width: 20px;
            height: 20px;
        }

        input:first-child
        {
            margin-right: 30px;
        }

        label
        {
            margin-left: 10px;
        }
    }

    &_type
    {
        color: $bg-light;
        margin-right: 10px;
        margin-bottom: 5px;
        display: inline-block;
    }

    &_btns
    {
        text-align: center;
        margin-top: 20px;

        button
        {
            background-color: $bg-light;
            border: none;
            font-size: 12px;
            padding: 5px 25px;
            color: #999999;
            margin: 0 5px;
        }

        button:hover
        {
            background-color: $yellow;
            color: $bg-dark;
        }
    }

    &_reject
    {
        position: absolute;
        right: 0;
        top: 0;
        color: #b22f2f;
        cursor: pointer;
    }
}