.projectDetail
{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &_inner
    {
        width: 520px;
        background-color: $bg-dark;
        padding: 25px;
        overflow: auto;
        max-height: 95vh;
        position: relative;
    }

    &_close
    {
        position: absolute;
        right: 20px;
        top: 15px;
        cursor: pointer;
        font-weight: 600;
    }

    &_close:hover
    {
        color: $yellow;
    }

    &_details
    {
        div
        {
            justify-content: space-between;
            display: flex;
        }

        font-size: 14px;

        p
        {
            margin-bottom: 2px;
        }

        span
        {
            color: $bg-light;
            margin-right: 10px;
        }

        margin: 30px 0;
    }

    &_descTitle
    {
        margin-top: 50px;
    }

    &_desc
    {
        font-size: 14px;
    }

    &_heading
    {
        margin-top: 50px;
        color: $bg-light;
        font-size: 14px;

        span
        {
            color: $primary;
        }
    }

    &_projects
    {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    &_box
    {
        margin-right: 5px;
        margin-bottom: 15px;
    }

    &_img
    {
        width: 110px;
        height: 70px;
        overflow: hidden;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_name
    {
        font-size: 12px;
        width: 110px;
    }

    &_date
    {
        font-size: 12px;
        color: $bg-light;
    }

    &_users
    {
        display: flex;

        >div:first-child
        {
            padding-right: 20px;
            margin-right: 20px;
            border-right: 1px solid #545454;

            div
            {
                // width: 60px;
                // margin-right: 20px;
            }
        }

        div:nth-child(2)
        {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &_text
    {
        color: $bg-light;
        margin-top: 30px;
    }

    &_userImg
    {
        width: 40px;
        height: 40px;
        margin: 6px;
        border-radius: 100%;
        overflow: hidden;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_btn
    {
        text-align: right;

        button
        {
            background-color: $bg-light;
            border: none;
            font-size: 10px;
            padding: 5px 25px;
            color: #999999;
            margin: 0 5px;
        }

        button:hover
        {
            background-color: $yellow;
            color: $bg-dark;
        }
    }
}