.user
{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &_inner
    {
        width: 520px;
        background-color: $bg-dark;
        padding: 25px;
        overflow: auto;
        max-height: 95vh;
        position: relative;
    }

    &_close
    {
        position: absolute;
        right: 20px;
        cursor: pointer;
        font-weight: 600;
    }

    &_close:hover
    {
        color: $yellow;
    }

    &_details
    {
        display: flex;
        align-items: center;
    }

    &_left
    {

        width: 200px;
        height: 200px;
        overflow: hidden;
        margin-right: 25px;

        img
        {
            width: 100%;
        }
    }

    &_right
    {
        font-size: 14px;
        
        p
        {
            margin-bottom: 2px;
        }

        span
        {
            color: $bg-light;
            margin-right: 10px;
        }
    }

    &_descTitle
    {
        margin-top: 50px;
    }

    &_desc
    {
        font-size: 14px;
    }

    &_heading
    {
        margin-top: 50px;
        color: $bg-light;
        font-size: 14px;

        span
        {
            color: $primary;
        }
    }

    &_projects
    {
        display: flex;
        flex-wrap: wrap;
        margin: 5px 0 30px;
    }

    &_box
    {
        margin-right: 5px;
        margin-bottom: 15px;
    }

    &_img
    {
        width: 110px;
        height: 70px;
        overflow: hidden;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_name
    {
        font-size: 12px;
        width: 110px;
    }

    &_date
    {
        font-size: 12px;
        color: $bg-light;
    }
    
    &_bot
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        .user_heading
        {
            margin: 0;
        }

        button
        {
            background-color: $bg-light;
            border: none;
            font-size: 10px;
            padding: 5px 25px;
            color: #999999;
            margin: 0 5px;
        }

        button:hover
        {
            background-color: $yellow;
            color: $bg-dark;
        }
    }
}

@media (max-width: 991px)
{
    .user
    {
        &_details
        {
            flex-wrap: wrap;
        }

        &_inner
        {
            padding: 10px;
        }

        &_left
        {
            margin-right: 10px;
        }

        &_right
        {
            margin-top: 10px;
        }

        &_descTitle
        {
            margin-top: 30px;
        }

        &_img
        {
            width: 105px;
        }

        &_name
        {
            width: 100px;
        }

        &_heading
        {
            margin-top: 30px;
        }
    }
}