.add
{
    padding: 20px;

    &_top
    {
        background-color: $bg-dark;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_topLeft
    {
        display: flex;
        align-items: center;

        img
        {
            width: 50px;
        }

        p
        {
            color: white;
            margin-left: 25px;
        }
    }

    &_btn
    {
        background-color: $bg-light;
        border: none;
        font-size: 10px;
        padding: 5px 10px;
        color: $primary;
    }

    &_form
    {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    &_formLeft
    {
        width: 49%;

        label
        {
            font-size: 14px;
        }

        input
        {
            width: 100%;
            background: $bg-dark;
            border: none;
            height: 35px;
            margin-bottom: 10px;
            outline: none;
            color: $primary;
        }

        textarea
        {
            width: 100%;
            background: $bg-dark;
            border: none;
            height: 160px;
            margin-bottom: 10px;
            outline: none;
            color: $primary;
        }
    }

    &_formRight
    {
        width: 49%;

        > div
        {
            margin-bottom: 40px;
        }
    }

    &_inputMain
    {
        display: flex;
        justify-content: space-between;

        input
        {
            width: 100%;
            background: #272C33;
            border: none;
            height: 35px;
            margin-bottom: 2px;
            margin-right: 2px;
            outline: none;
            color: $primary;
        }

        textarea
        {
            width: 100%;
            background: #272C33;
            border: none;
            height: 160px;
            margin-bottom: 10px;
            outline: none;
            color: #999999;
        }

        button
        {   
            background: $bg-dark;
            border: none;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2px;

            img
            {
                width: 15px;
            }
        }
    }

    &_btnHidden
    {
        background: transparent !important;
        pointer-events: none;
    }

    &_btnImg
    {
        text-align: center;

        img
        {
            width: 20px;
            cursor: pointer;
        }
    }

    &_images
    {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &_image
    {
        width: 120px;
        height: 80px;
        overflow: hidden;
        margin: 10px;
        border: 1px solid white;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_btns
    {
        display: flex;
        justify-content: center;
        margin: 50px 0 10px;

        button
        {
            background-color: $bg-dark;
            border: none;
            font-size: 10px;
            padding: 5px 15px;
            color: #999999;
            margin: 0 5px;
        }

        button:hover
        {
            background-color: $yellow;
            color: $bg-dark;
        }
    }

    &_bot
    {
        display: flex;
        background: $bg-light;
        margin: 0 -20px;
        padding: 50px;
    }

    &_peopleTitle
    {
        background-color: #272C33;
        border: none;
        font-size: 12px;
        padding: 5px 15px;
        color: #999999;
    }

    &_peopleBody
    {
        background-color: $bg-dark;
        margin-top: 3px;
        padding: 15px;
        min-height: 100px;

        img
        {
            width: 40px;
            margin: 5px;
        }
    }

    &_people
    {
        width: 40%;
        margin-right: 60px;
    }

    &_convo
    {
        width: 400px;

        img
        {
            width: 30px;
        }
    }

    &_convoTitle
    {
        background-color: #272C33;
        border: none;
        font-size: 12px;
        padding: 5px 15px;
        color: #999999;
    }

    &_convoBody
    {
        background-color: $bg-dark;
        margin-top: 3px;
        padding: 20px;
        display: flex;
    }

    &_convoLeft
    {
        margin-right: 20px;

        img
        {
            width: 45px;
        }
    }

    &_convoname
    {
        color: white;
        font-size: 14px;
    }

    &_convodesc
    {
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
    }

    &_convoreplies
    {
        font-size: 12px;
        margin-top: 10px;
        color: white;
    }

    &_convoReply
    {
        position: relative;
        margin-top: 10px;

        input
        {
            width: 100%;
            background-color: #272C33;
            border: none;
            height: 32px;
            font-size: 14px;
            padding-left: 15px;
            outline: none;
            color: $bg-light;
        }

        img
        {
            position: absolute;
            right: 10px;
            top: 6px;
            width: 25px;
        }
    }
}

@media (max-width: 991px)
{
    .add
    {
        padding: 0px;

        &_top
        {
            padding: 10px;
        }

        &_topLeft
        {
            img
            {
                width: 30px;
            }

            p
            {
                margin-left: 15px;
                font-size: 12px;
                margin-right: 15px;
            }
        }

        &_btn
        {
            width: 125px;
        }

        &_form
        {
            padding: 15px;
            flex-wrap: wrap;
        }

        &_formLeft, &_formRight
        {
            width: 100%;
        }

        &_images
        {
            padding: 15px;
        }

        &_imagesBody
        {
            margin-top: -20px;
        }

        &_image
        {
            width: 85px;
            height: 60px;
        }

        &_btns
        {
            flex-wrap: wrap;
            margin: 20px 0 10px;

            button
            {
                margin: 5px;
            }
        }

        &_bot
        {
            flex-wrap: wrap;
            margin: 0;
            padding: 50px 10px;
        }

        &_people
        {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
        }
    }
}