.org
{
    background-color: $bg-medium;
    min-height: 100vh;
    display: flex;

    &_body
    {
        width: 100%;
    }

    &_tabs
    {
        background: black;
        padding: 10px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;
    }

    &_tabName
    {
        cursor: pointer;
    }

    &_tabName.active, &_tabName:hover
    {
        color: $yellow;
    }

    &_head
    {
        padding: 0 0 10px 30px;
        border-bottom: 1px solid $bg-medium;

        p
        {
            font-size: 18px;
            color: $bg-light;
        }

        span
        {
            font-size: 24px;
            color: white;
            margin-right: 8px;
        }
    }

    &_search
    {
        border-bottom: 1px solid $bg-medium;
        padding: 2px 0;
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        img
        {
            width: 18px;
            margin-right: 20px;
        }

        input
        {
            width: 100%;
            background: transparent;
            border: none;
            outline: none;
            color: $bg-light;
        }

        input::placeholder
        {
            color: $bg-light;
        }
    }

    &_table
    {
        background-color: $bg-dark;
        margin: 15px 15px;
        padding: 15px 15px 30px;
        height: 550px;
        width: 485px;
        overflow: auto;

        table
        {
            width: 100%;
        }

        thead
        {
            border-bottom: 1px solid $bg-medium;

            td
            {
                padding-bottom: 8px;
                font-size: 14px;
                color: $bg-light;
                font-weight: 500;
            }
        }

        tbody
        {
            tr
            {
                border-bottom: 1px solid $bg-medium;
            }

            td
            {
                padding: 5px 0;
            }

            img
            {
                width: 30px;
                cursor: pointer;
            }
        }
    }

    &_tableText1
    {
        font-size: 12px;
        font-weight: 500;
    }

    &_tableText2
    {
        color: $bg-light;
        font-size: 10px;
    }
}

@media (max-width: 991px)
{
    .org
    {
        &_table
        {
            width: auto;
            margin: 15px 5px;
        }

        &_tabs
        {
            padding: 10px 20px;
            width: auto;
            font-size: 14px;
        }
    }
}