.project
{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

    &_body
    {
        width: 32%;
        min-width: 370px;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    &_head
    {
        background-color: $bg-dark;
    }

    &_headTop
    {
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px;
        border-bottom: 2px solid $bg-light;
    }

    &_logo
    {
        margin-right: 15px;

        img
        {
            height: 38px;
        }
    }

    &_num
    {
        color: white;
    }

    &_name
    {
        font-size: 12px;
        margin-top: -3px;
        color: $bg-light;
    }

    &_check
    {
        position: absolute;
        right: 5px;
        top: 2px;
        font-size: 12px;
        display: flex;
        align-items: center;

        label
        {
            margin-left: 2px;
        }
    }

    &_actions
    {
        display: flex;
    }

    &_add
    {
        background: no-repeat;
        border: none;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    

        img
        {
            width: 15px;
        }
    }

    &_search
    {
        position: relative;
        width: 100%;
        border-left: 2px solid $bg-light;

        img
        {
            position: absolute;
            left: 10px;
            top: 4px;
            width: 16px;
        }

        input
        {
            width: 100%;
            background: transparent;
            border: none;
            outline: none;
            color: gray;
            padding-left: 40px;
            font-size: 14px;
            color: $bg-light;
        }
    }

    &_table
    {
        background-color: $bg-dark;
        margin-top: 10px;
        padding: 15px 15px 30px;
        height: 400px;
        overflow: auto;

        table
        {
            width: 100%;
        }

        thead
        {
            border-bottom: 1px solid $bg-medium;

            td
            {
                padding-bottom: 8px;
                font-size: 14px;
                color: $bg-light;
                font-weight: 500;
            }
        }

        tbody
        {
            tr
            {
                border-bottom: 1px solid $bg-medium;
            }

            td
            {
                padding: 5px 0;
            }
        }

        img
        {
            width: 30px;
            cursor: pointer;
            // position: relative;
            // z-index: 2;
        }
    }

    &_tableText1
    {
        font-size: 12px;
        font-weight: 500;
    }

    &_tableText2
    {
        color: $bg-light;
        font-size: 10px;
    }
}

@media (max-width: 575px)
{
    .project
    {
        padding: 10px;

        &_body
        {
            width: 100%;
            min-width: auto;
            margin-right: 0;
        }
    }
}