// BASE
@import './partials/base/typography';
@import './partials/base/general';


// COMPONENTS
@import './partials/components/sideBar';
@import './partials/components/header';

// PAGES
@import './partials/pages/login';
@import './partials/pages/dashboard';
@import './partials/pages/project';